.git
.gitignore
.gitattributes
.env
.env.build
.env.backup
.env.production
node_modules
vendor
public/build
public/storage
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/private
.idea
.vscode
*.md
Dockerfile
.dockerignore
render.yaml
